.anchor
    width 100%

    display flex
    justify-content space-around
    align-items center
    flex-direction row
    position fixed
    top 0
    left 0
    border-bottom 0.15em #141414 solid
    background-color light-main
    z-index 15

    &__link
        display flex
        font-family 'Work Sans', sans-serif
        font-size 0.9em
        justify-content center
        align-items center
        padding 0.5em
        text-decoration none
        color #141414

        &:hover
            color #494
            transition 0.15s
