.app
    // Background color set in main.styl to affect underlying background as well

    &__demo
        height 20em
        width 40em
        margin auto

    &__overlay
        display flex
        justify-content center
        align-items center
        flex-direction column
        width 100%
        height 100%
        background-color rgba(0,0,0,0.75)

    &__header
        user-select none
        cursor default

        background-image url('~res/stroodle_resize.jpg')
        background-position center
        color white

        height 38em

    &__title
        font-family 'Source Sans Pro', sans-serif
        font-weight bold
        font-size 3em
        letter-spacing 0.1em
        padding 0.5em

    &__subtitle
        font-family 'Open Sans', sans-serif
        font-weight bold
        letter-spacing 0.07em
        padding 0.25em

    &__steps
        display flex
        flex-direction column
        align-items center

    &__code
        margin 0.5em 0
        padding 0.5em
        border-radius 0.25em

        color #AAA
        background-color #141414

    &__markdown
        h1
            margin 0.5em

        p
            font-size 1em
            font-family 'Arimo', sans-serif
            padding 0.5em

        ul
            padding 0.5em
            margin-left 1em

        li
            padding 0.1em
            a
                color #494
                outline none
