.buttoncomponent
    min-width 10em
    display flex
    font-family 'Work Sans', sans-serif
    flex-direction column
    align-items center
    justify-content center
    font-size 1em
    margin 1em
    padding 0.5em
    border-radius 0.25em
    color dark-main
    background-color #ffe2af

    &__holder
        display flex
        flex-direction column
        justify-content center
        align-items center
        padding 0.5em
        margin 0.5em
    
    &__button
        display flex
        font-family 'Work Sans', sans-serif
        font-size 1em
        flex-direction column
        align-items center
        justify-content center
        padding 0.5em
        color dark-main
        background-color #e5c285
        outline none
        border none

        &:hover
            color light-main
            background-color #494
