.codeblock
    max-width 50em
    width 100%
    height 20em

    display flex

    margin-top 0.5em
    margin-bottom 0.5em
    padding 0.5em
    border-radius 0.25em

    font-family monospace
    white-space pre //not working? unsure if this is because of jsx conversion and not directly HTML
    color #AAA
    background-color #141414
