html,body
    font-size: 1em;
    margin: 0em;
    padding: 0em;

*
    margin: 0em;
    padding: 0em;

container
    display: felx;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: #ffcc90;

pg_header
    display: flex;
    width: inherit;

    h1
        font: 'Playfair Display', serif;
        font-size: 2em;
        padding: 0.5em;
        color: #141414;

    h2
        font: 'Arimo', sans-serif;
        font-size: 0.5em;
        padding: 0.25em;
        color: #141414;

wrapper
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.25em;
    width: 30em; //unsure if this is a sufficient width
    height: auto;

wrapper_header
    display: flex;
    justify-content: center;
    align-items: center;

    h1
        font: 'Arimo', sans-serif;
        font-size: 1.5em;
        padding: 0.5em;
        color: #141414;

wrapper_body
    display: flex;
    justify-content: center;
    align-items: center;

    p
        font: 'Work Sans', snas-serif;
        font-size: 1em;
        padding: 0.5em;
        color: #141414;

highlight
    //unsure where to do syntax highlighting. js?


