.login
    height 100%
    width 100%

    display flex
    flex-direction column
    align-items center
    justify-content center

    background-color pink

    &__input
        outline none
        border none
