.login
    height 100%
    width 100%

    display flex
    font-family 'Work Sans', sans-serif
    flex-direction column
    align-items center
    justify-content center
    margin 1em
    border-radius 5%

    background-color #ffe2af

    &__input
        font-family 'Arimo', sans-serif
        font-size 0.75em
        padding 0.5em
        outline none
        color #141414
        background-color #ffe2af
        border-bottom 0.1em solid #141414
        border-top none
        border-right none
        border-left none
        border-radius 5%
