.login
    height 100%
    width 100%

    display flex
    font-family 'Work Sans', sans-serif
    flex-direction column
    align-items center
    justify-content center
    margin 1em
    border-radius 0.25em

    background-color #ffe2af

    &__input
        font-family 'Arimo', sans-serif
        font-size 0.75em
        margin-top 0.25em
        padding 0.5em
        outline none
        color #141414
        background-color #e5c285
        border radius 0.25em
        border none
