.section
    max-width 50em
    width 100%

    margin-top 1em
    margin-bottom 1em

    &__title
        display flex
        font-family 'Work Sans', sans-serif
        font-size 2em
        font-weight bold
        padding-top 1em
        color dark-main

    &__subtitle
        display flex
        font-family 'Work Sans', sans-serif
        font-size 1.25em
        color dark-main
        margin-bottom 0.25em
        padding-bottom 0.5em
        border-top none
        border-bottom 0.1em solid dark-main
        border-left none
        border-right none

    &__body
        display flex
        flex-direction column
        font-family 'Arimo', sans-serif
        font-size 1em
        padding-top 0.5em
        color dark-main

        a
            color #494
