.section
    max-width 50em
    width 100%

    margin-top 1em
    margin-bottom 1em

    &__title
        display flex
        font-family 'Arimo', sans-serif
        font-size 1.5em
        font-weight bold
        padding 0.5em
        margin-bottom 0.25em
        color dark-main
        border-top none
        border-bottom 0.1em solid dark-main
        border-left none
        border-right none

    &__body
        display flex
        flex-direction column
        font-family 'Work Sans', snas-serif
        font-size 1em
        padding 0.5em
        color dark-main
